
<section id="book">
	<div class="row  main-row-padding-leftrightt">                  
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="/" >Назад</a>
			<img class=" img-fluid" src="../picture/book/{{book._id}}.jpg">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-6">
          <br>
			<h1 class = "opusbookShrift colortexttt">
      <input type="hidden" id="book-id" value="{{book._id}}">
			<span id="book-title">{{book.title}}</span>
				<p>{{book.authorID.name}}<p>
			</h1>
			<ul class = "colortexttt">
				<li>Назва: {{book.title}}</li>
				<li>Автор: <a href="/author/{{book.authorID._id}}" class="sulka colortexttt">{{book.authorID.name}}</a></li>
				<li>Рік: {{book.year}}</li>
				<li>Видавництво: {{book.publish}}</li>
				<li>Жанр: {{book.genre}}</li>
				<br>
        {{#if book.notStock}}
          <h3>Книги нет в наличии</h3>
        {{else}}
          <li><a data-toggle="modal" data-target="#zakazbook" href=""class="sulka">Замовити книгу</a></li>
        {{/if}}
			</ul>
		</div>
	</div>
	<div class="row main-row-padding-leftrightt">
        <div class="col-12 colortexttt ">
            <h2 class = "opusbookShrift">О книзі «{{book.title}}» </h2>
            <p class="shrifttext">{{book.description}}</p>
        </div>
    </div>
      
</section>
  <!--Auth-->
      <div class="modal fade" id="zakazbook" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Ви хочете замовити книгу «{{book.title}}»?</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
               
                <div class="form-group"> 
                      
                  <input type="text" class="form-control" name="PIB" id="PIB-auth" placeholder="Номер квитка">
                  <br>
                  <input type="text" class="form-control" name="parol" id="parol-auth" placeholder="Пароль">
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <div class="col-6 padding-block">
                 <button type="submit" class="btn btn-primary" id="reg-button">Зареєструватися</button> 
              </div>
              <div class="col-6 padding-block">
                <button type="submit" class="btn btn-primary" id="auth-button">Вхід</button> 
              </div>
              
            </div>
          </div>
        </div>
      </div>

        <!--Registration-->
      <div class="modal fade" id="reg-zakaz-book" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Реєстрація</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
                <div class="form-group">      
                  <input type="text" class="form-control" name="PIB" id="PIB" value="ПІБ">
                  <br>
                    <input type="text" class="form-control" name="Number-stud" id="Number-stud" value="Номер студентського">
                    <br>
                    <input type="text" class="form-control" name="Group" id="Group" value="Група">
                    <br>
                    <input type="text" class="form-control" name="Email" id="Email" value="Електрона адреса">
                    <br>
                     <input type="text" class="form-control" name="number-phone" id="Number-phone" value="Номер телефону">
                     <br>
                    <input type="text" class="form-control" name="adress" id="adress" value="Адреса">
                    <br>
                    <input type="text" class="form-control" name="parol" id="parol" value="Пароль">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col-12 padding-block">
                 <button type="button" class="btn btn-primary" id="reg-confirm-button">Зареєструватися</button> 
              </div>
            </div>
          </div>
        </div>
      </div>


    <!--OK-->
      <div class="modal fade" id="zakazOK" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Книга заказана</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
                <div class="form-group">      
                  <p>Спасибо, что заказали книгу «{{book.title}}»</p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-outline-primary btn-block regButton">Вийти</button>
            </div>
          </div>
        </div>
      </div>

      <!--OK registration-->
      <div class="modal fade" id="regOK" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Ви зареєструвалися</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
                <div class="form-group">      
                  <p>Спасибо, что зарегистрировались</p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-outline-primary btn-block regButton">Вийти</button>
            </div>
          </div>
        </div>
      </div>

    <!--Error-->
      <div class="modal fade" id="zakazErr" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Помилка при замовлені</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
                <div class="form-group">      
                  <p>Перевірте заповнення полів</p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-outline-primary btn-block regButton">Вийти</button>
            </div>
          </div>
        </div>
      </div>


      <!--Error registration-->
      <div class="modal fade" id="regErr" tabindex="-1" role="dialog" aria-labelledby="deleteChatLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="deleteChatLabel"><strong>Помилка при реєстрації</strong></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body popup-input-padding">
              <form>
                <div class="form-group">      
                  <p>Перевірте написання ваших даних</p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-outline-primary btn-block regButton">Вийти</button>
            </div>
          </div>
        </div>
      </div>